table {
    width: 60vw;
    box-shadow: -0.5vw 1vh 2vmax 0.2vmax #000;
}

thead {
    background-color: #111;
}

tbody {
    background-color: #555;
}

tr:nth-child(even) {
    background-color: #888;
    color: #000;
}

th {
    color: #ff8700;
    font-size: 1.3vw;
    font-weight: 400;
    padding: 1vh 0;
}

td {
    color: #ddd;
    text-align: center;
    font-size: 1.2vw;
    padding: 1vh 1vw;
}

.material-icons {
    width: 100%;
    color: #ff8700;
    cursor: pointer;
}
